* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body > #root > .Contact {
  height: 100vh;
  padding: 5% 6%;
  display: grid;
  grid-template-rows: 5% 10% 80% 5%;
}
.header {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(66, 224, 172);
}
.contact-text {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: white;
  padding: 2% 0 1% 2%;
}
.contact-form {
  display: grid;
  grid-template-rows: 10% 10% 50% 10%;
  grid-gap: 2%;
  width: 700px;
  margin: 2% 0 0 5%;
}
.name-input,
.email-input,
.message-input {
  font-family: 'Oxygen', sans-serif;
  border-radius: 8px;
  font-size: 16px;
  padding: 1%;
}
.name-input:focus,
.email-input:focus,
.message-input:focus {
  outline: none;
  border: 3px solid rgb(66, 224, 172);
}
.btn {
  background-color: #ffb037;
  border: 1px solid #ffb037;
  border-radius: 8px;
  color: white;
  font-size: 22px;
  font-weight: bold;
}
.btn:hover {
  box-shadow: 0 1px 5px rgb(190, 190, 190);
}
.success-message {
  color: #ffb037;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 1% 0 0 2%;
}
@media screen and (max-width: 1300px) {
  body > #root > .Contact {
    max-height: 85vh;
  }
  .contact-form {
    width: 650px;
  }
}
@media screen and (max-width: 980px) {
  .contact-form {
    width: 500px;
  }
  .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 414px) {
  body > #root > .Contact {
    padding: 3% 0 3% 3%;
  }
  .header {
    font-size: 14px;
  }
  .contact-text {
    font-size: 14px;
  }
  .contact-form {
    padding: 0 2% 0 0;
    width: 300px;
  }
  .name-input,
  .email-input,
  .message-input {
    font-size: 12px;
  }
  .btn {
    font-size: 14px;
  }
}
